# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Environments
.env
venv/
env/

# IDEs
.idea/
.vscode/

# Databases
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Media files
media/

test_mpesa.py
